body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

.dice-utf8 {
    font-size: 3em;
    display: inline;
}

.shortInput
{
    width: 4em;
}

.big_message
{
    font-size: 2em;
}
